* {
    box-sizing: border-box;
}

body {
    font-family: 'Shojumaru', sans-serif;
    /* font-size: 22px; */
/*      viewport units: 50vh (viewport height-50%), vw (viewport width), 
        50vmin (smallest between vh and vw and takes 50% of that)  */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis - vertical */
    align-items: center;  /* opposite - horizontal */
}

/* ===== Title "MANCALA" ===== */
header {
    font-size: 10vmin;
    color: purple;
    letter-spacing: 2vmin;
}

/* h3 {
    color: goldenrod;
    font-size: 3vmin;
} */

#markers-top {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);  
    gap: 1vmin;
    margin-top: 1.5vmin;
}

#markers-top > div {
    height: 5vmin;
    border-width: 2.5vmin;
    border-style: solid;
    border-color: lightcoral transparent transparent;
}

#markers-bottom {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);  
    gap: 1vmin;
    margin-top: 1.5vmin;
}

#markers-bottom > div {
    height: 10vmin;
    border-width: 2.5vmin;
    border-style: solid;
    border-color: transparent transparent lightcoral;

}

#pockets {
    display: grid;
    background-color: thistle;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    gap: 1vmin;
}

#pockets > div.mancala-A {
    font-size: 1.5vmin;
    grid-column-start: 1;
    grid-row-start: -5;
    grid-row-end: -4;
}

#pockets > div.mancala-B {
    font-size: 1.5vmin;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: -5;
    grid-row-end: -4;
}

#pockets > button {
    border-radius: 50%;
    gap: 1vmin;
    border: 0.5vmin solid grey;
}

#pockets > h5.scoreA {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

#pockets > h5.scoreB {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: -4;
    grid-row-end: -3;
}

/*====== placement of all of the buttons in the appropriate grid location  ====== */

#pockets > button.button-A1 {
    grid-column-start: 7;
    grid-row-start: 1;
    grid-row-end: 2;

}
#pockets > button.button-A2 {
    grid-column-start: 6;
    grid-row-start: 1;
    grid-row-end: 2;

}
#pockets > button.button-A3 {
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 2;

}
#pockets > button.button-A4 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
#pockets > button.button-A5 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
#pockets > button.button-A6 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}

#pockets > button.button-B1 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;

}
#pockets > button.button-B2 {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 5;

}
#pockets > button.button-B3 {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 5;

}
#pockets > button.button-B4 {
    grid-column-start: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}
#pockets > button.button-B5 {
    grid-column-start: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}
#pockets > button.button-B6 {
    grid-column-start: 7;
    grid-row-start: 4;
    grid-row-end: 5;

}

/* ===== Adding the total stones per pocket into their correct place on the grid ===== */
#pockets > ul.a-one {
    grid-column-start: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#pockets > ul.a-two {
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
#pockets > ul.a-three {
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#pockets > ul.a-four {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#pockets > ul.a-five {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#pockets > ul.a-six {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#pockets > ul.b-one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#pockets > ul.b-two {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#pockets > ul.b-three {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#pockets > ul.b-four {
    grid-column-start: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
#pockets > ul.b-five {
    grid-column-start: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#pockets > ul.b-six {
    grid-column-start: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

button:hover {
    color: white;
    background-color: purple;
}