* {
    box-sizing: border-box;
}

body {
    font-family: 'Shojumaru', sans-serif;
    font-size: 22px;
/*      viewport units: 50vh (viewport height-50%), vw (viewport width), 
        50vmin (smallest between vh and vw and takes 50% of that)  */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* main axis - vertical */
    align-items: center;  /* opposite - horizontal */
}

header {
    font-size: 10vmin;
    color: purple;
    letter-spacing: 2vmin;
}

h3 {
    color: goldenrod;
    font-size: 3vmin;
}

#markers-top {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);  
    gap: 1vmin;
    margin-top: 1.5vmin;
}

#markers-top > div {
    height: 5vmin;
    border-width: 2.5vmin;
    border-style: solid;
    border-color: lightcoral transparent transparent;
}

#markers-bottom {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);  
    gap: 1vmin;
    margin-top: 1.5vmin;
}

#markers-bottom > div {
    height: 10vmin;
    border-width: 2.5vmin;
    border-style: solid;
    border-color: transparent transparent lightcoral;

}

#pockets {
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(2, 10vmin);
    gap: 1vim;
}

#pockets > button {
    border-radius: 50%;
    gap: 1vmin;
    border: 0.1vmin solid grey;
}

button:hover {
    color: white;
    background-color: purple;
}